<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax demo</title>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<button id="btn">点我</button>

</body>
<script>
    $("#btn").click(
        function () {
            //console.log(1111111);
            // 编写ajax
            $.ajax({
                url:"",     //  ajax 请求的地址
                type:"",    //   请求的方式  get  post
                data:"",    // 请求的数据   常用与post请求的时候传参，get请求的时候参数需要构建在url上即可
                success:function (data) {
                    //  代表 请求成功被服务器处理了之后回调的方法
                    //   data  代表 服务器处理之后的返回值
                },
                error:function (error) {
                    //  请求失败之后的方法
                    //  error   代表 错误的内容

                }
            })
        }
    )
</script>



</html>