{% extends "buyer/base.html" %}
{% block content %}
    	<div class="total_count">全部商品<em>2</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    <form action="/buyer/cart_place_order/" method="post">
    {% csrf_token %}
    {% for one in cart %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="cart_id_{{ one.id }}" value="{{ one.id }}" checked class="goods_box"></li>
		<li class="col02"><img src="/static/{{ one.goods.goods_picture }}"></li>
		<li class="col03">{{ one.goods.goods_name }}<br><em>{{ one.goods.goods_price }}元/500g</em></li>
		<li class="col04">500g</li>
		<li class="col05">{{ one.goods.goods_price }}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl" onclick="jisuan({{ one.id }},'add')">+</a>
				<input type="text" class="num_show fl" id="goods_num_{{ one.id }}" value="{{ one.goods_number }}">
				<a href="javascript:;" class="minus fl" onclick="jisuan({{ one.id }},'reduce')">-</a>
			</div>
		</li>
		<li class="col07" id="goods_total_{{ one.id }}">{{ one.goods_total }}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}
	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" id="check_box"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="total_money">{{ all_total.sum_total }}</em><br>共计<b id="total_num">{{ all_total.sum_number }}</b>件商品</li>
		<li class="col04">
            <input type="submit" style="width: 150px;height: 50px;background-color: red;" value="去结算">
        </li>

	</ul>
      </form>

{% endblock %}

{% block script %}
    <script>
        $("#check_box").click(
            function () {
                // console.log(111111)
                //  input  checkbox
                //  判断 全选框 是否有checked 属性
                if (this.checked){
                    //  true  有checked 属性
                    //  将每一项 设置都有 checked 属性
                    //  prop 可以为选中的标签设置属性
                    $(".goods_box").prop("checked",true);
                    // console.log(this.checked)
                } else{
                    // false 没有checked 属性
                     //  将每一项设置都没有 checked 属性
                    $(".goods_box").prop("checked",false);
                    // console.log(this.checked)
                }
                add();

            }
        )
        $(".goods_box").click(
            function () {
                    //   单选
                //  获取所有项 的input的数量
                var len1 = $(".goods_box").length;
                // console.log(len1);
                //  获取所有项 中有checked 属性的数量
                var len2 = $(".goods_box:checked").length;
                // console.log(len2);
                //  对比两值
                if (len1 == len2){
                    // 相等    全选框增加 checked 属性
                    $("#check_box").prop("checked",true);

                }else{
                    //         全选款去掉checked 属性
                    $("#check_box").prop("checked",false);
                }
                add()
            }
        )

    function add() {
        // 方法实现  单选  全选之后  计算 总数量以及总的价格，并将结果进行设置
        // 获取到每一个没选中的 商品的 价格 以及数量
        //  进行计算   总的 价格 和数量
        //  进行设置
        // each  循环遍历
        var mydict = {"num":0,"total_money":0}
        $(".goods_box").each(
            function () {
                // 判断 有checked 属性的 标签
                if(this.checked){
                    //   寻找被选中的数量以及价格
                    // console.log(111111)
                    var number = parseInt($(this).parents(".cart_list_td").find(".num_show").val());
                    var money = parseFloat($(this).parents(".cart_list_td").find(".col07").text());
                    mydict.num += number;
                    mydict.total_money += money;
                }
            }
        )
        // console.log(mydict);
        //  设置值
        $("#total_money").text(mydict.total_money);
        $("#total_num").text(mydict.num);
    }

    function jisuan(cart_id,js_type) {

        //  ajax  将请求 发送到后端进行处理
        var url = "/buyer/change_cart/";
        var cart_id = cart_id;
        var js_type = js_type;

        send_data = {
            "csrfmiddlewaretoken":"{{ csrf_token }}",
            "cart_id":cart_id,
            "js_type":js_type,
        };
        $.ajax({
            url:url,
            type:"post",
            data:send_data,
            success:function (data) {
                console.log(data);
                if (data.code == 10000){
                    console.log(data.data["goods_number"]);
                    console.log(data.data["goods_total"]);
                    // 将数量进行设置
                    document.getElementById("goods_num_" + cart_id).value = data.data["goods_number"];
                    // 将小计进行设置
                    document.getElementById("goods_total_" + cart_id).innerHTML = data.data["goods_total"];
                    add();
                }else{
                    alert(data.msg )
                }
            },
            error:function (data) {
                console.log(data)
            }
        })

    }




    </script>
{% endblock %}





